<div class="aside">
	<%= render 'users/user', user: @user %>

	<div class="btn-wrap"><%= link_to "Edit", edit_user_path(@user), class: "btn"%></div>

	<%= render 'books/new', book: @post_book %>
</div>

<div class="main">
	<h1>Users</h1>

		<table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
				</tr>
			</thead>
			<% @users.each do |user| %>
			<tbody>
				<tr>
					<td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg", :width => "60", :height => "60"%></td>
					<td class="user_name">
						<%= link_to user_path(user.id) do %>
							<%= user.name %>
						<% end %>
					</td>
					<td>フォロー:<%= user.following.count %></td>
					<td>フォロワー:<%= user.followers.count %></td>
					<td id="follow_<%= user.id %>">
						<%= render 'relationships/follow', user: user %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
</div>