<div class="aside">
	<%= render 'users/user', user: @user %>

	<div class="btn-wrap">
		<% if @user.id == current_user.id %>
			<%= link_to "Edit", edit_user_path(current_user.id), class: "btn"%>
		<% else %>
			<%= link_to "Edit", user_path(current_user.id), class: "btn" %>
		<% end %>
	</div>

	<div class="following">
		<%= link_to following_user_path do %>
			フォロー:<%= @user.following.count %>
		<% end %>
		<%= link_to followers_user_path do %>
			フォロワー:<%= @user.followers.count %>
		<% end %>
		<div id="follow_<%= @user.id %>" class="follow-btn btn-wrap">
			<%= render 'relationships/follow', user: @user %>
		</div>
	</div>

	<%= render 'books/new', book: @post_book %>
</div>

<div class="main">
	<h1>Books</h1>

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
			</thead>
			<% @books.each do |book|%>
			<tbody>
				<tr>
					<td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg", :width => "40", :height => "40"%>
					</td>
					<td>
						<%= link_to book_path(book.id) do %>
							<%= book.title %>
						<% end %>
					</td>
					<td><%= book.body %></td>
				</tr>
			</tbody>
			<% end %>
		</table>
</div>
<div class="flash"><%= flash[:notice] %></div>