<div id="message" >
	<%= render 'message', chats: @chats %>
</div>

<!-- <form>
	<input type="text" data-behavior="chat_input" class="chat-input">
</form> -->
<%= form_with model: @chat do |f| %>
	<%= f.text_field :message %>
	<%= f.hidden_field :room_id %>
	<%= f.submit %>
<% end %>