<%= render 'books/errors', book: @post_book %>

<div class="aside">
	<%= render 'users/user', user: @user %>

	<div class="btn-wrap"><%= link_to "Edit", edit_user_path(@user), class: "btn"%></div>

	<%= render 'books/new', book: @post_book %>
</div>

<div class="main">
	<h1>Books</h1>
	<div class="search">
		<%= search_form_for @q do |f| %>
			<%= f.search_field :title_cont, class: "search_box" %>
			<%= f.submit "検索", class: "btn" %>
		<% end %>
	</div>

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th class="title">Title</th>
					<th class="opinion">Opinion</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<% @books.each do |book|%>
			<tbody>
				<tr>
					<td class="img">
						<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg", :width => "40", :height => "40"%>
					</td>
					<td class="title">
						<%= link_to book_path(book.id) do %>
							<%= book.title %>
						<% end %>
					</td class="opinion">
					<td><%= book.body %></td>
					<td id="favorites_<%= book.id %>">
						<%= render partial: 'favorites/favorite', locals: { book: book} %>
					</td>
					<td class="comment-count"><%= book.comments.count%><br>コメント</td>
				</tr>
			</tbody>
			<% end %>
		</table>
</div>
<%= flash[:notice]%>