<div class="aside">
	<%= render 'users/user', user: @book.user %>

	<div class="btn-wrap"><%= link_to "Edit", edit_user_path(current_user.id), class: "btn"%></div>

	<%= render 'books/new', book: @post_book %>
</div>

<div class="main">
	<h1>Books</h1>

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= link_to user_path(@book.user.id) do %>
							<%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg", :width => "40", :height => "40"%>
							<br>
							<%= @book.user.name%>
						<% end %>
					</td>
					<td><%= @book.title %></td>
					<td><%= @book.body %></td>
					<% if @book.user.id==current_user.id%>
						<td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
						<td><%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger" %></td>
					<% end %>
				</tr>
			</tbody>
		</table>

		<!-- いいね -->
		<div class="favo">
			<% if @book.favorited_by?(current_user) %>
				<%= link_to book_favorites_path(@book), method: :delete do %>
					<i class="fa fa-heart" style="color: red;"></i>
				<% end %>
			<% else %>
				<%= link_to book_favorites_path(@book), method: :post do %>
					<i class="fa fa-heart"></i>
				<% end %>
			<% end %>
			<%= @book.favorites.count %>いいね
		</div>

		<!-- コメント -->
		<div class="comme">
		<%= form_for [@book, @comment] do |f| %>
			<%= f.text_area :comment, rows:'5', placeholder: "コメントをどうぞ", class: "comme-text" %><br>
			<%= f.submit "コメントを送る", class: "btn" %>
		<% end %>
		<table>
			<thead>
				<tr>
					<th>User</th>
					<th>Date</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<% @book.comments.each do |comment| %>
				<tr>
					<td><%= comment.user.name %></td>
					<td><%= comment.created_at %></td>
					<td><%= comment.comment %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		</div>

</div>
<%= flash[:notice] %>