<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="wrap">
          <div class="header-wrap">
              <p class="logo">Bookers</p>
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li><%= link_to "Home", user_path(current_user.id) %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Books", books_path %></li>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", home_about_path %></li>
              <li><%= link_to "sign_up", new_user_registration_path %></li>
              <li><%= link_to "login", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="search-wrap">
            <%#= form_with url: books_path, method: :get %>
              <%#= text_field_tag :search[:content] %>
              <%#= select_tag :seach[:model], options_for_select%>
            <%# end %>
          </div>
      </div>
    </div>
    <div class="content">
      <div class="wrap">
        <div class="flash"><%= flash[:notice] %></div>
        <div class="content-wrap">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="wrap">
        <div class="footer-wrap">
          <p class="copy-right">CopyRight BookApp.inc</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </body>
</html>
